
/*Versão mobile first*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
html{
    
}
body{
    align-items: center;
    text-align: center;
    background-color: #292e2e;
    
}

h1{
    position: relative;
    right: 20%;
    text-shadow: 1px 1px  ;
    color: #1A2130;
    margin-left: 20%;
}
h2{
    color: #EBF4F6;
    font-family: "Raleway";
    font-size: 2em;
}
.icon_logo{
    height: 10vh; 
    position: relative;
    right: 39%;  
}
.header img, footer img{
    width: auto;
}
.header{
    background-color: #c2d0d0;
}
img{
    height: 68vh;
    border-radius: 25px;
    width: 90%;
}
.img_height{
    height: auto;
}
hr{
    width: 80%;
    margin: 10px auto;
}
button{
    border-radius: 20px;
    width: 40%; height: 5vh;
    box-shadow: 0px 2px black;
    background-color: #23252b;
    color: white;
    margin: 30px 0; 
}
.section_01{
    background-color: #c2d0d0;
}
footer{
    margin-top: 40px;
    padding: 10px;
    background-color: #161718;
}
.footer_text{
    color: #EBF4F6;
    font-family: "Raleway";
} .section_01 .footer_text{
    color: #1A2130;
    font-family: "Raleway";
}
.intro_text{
    font-family: "Raleway";
    color: #1A2130;
}
.text{
    width: 90%;
    margin: auto;
    color: #EBF4F6;
    font-family: "Raleway";

}
.container_02{
    text-align: center;
}
.popup{
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.popup span{
    position: absolute;
    top: 0; right: 0;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}
.popup .arr_left{
    position: absolute;
    left: 0; top: 50%; right: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.popup .arr_right{
    position: absolute;
    right: 0; top: 50%;
    background-color: rgba(0, 0, 0, 0.3)
}
.popup img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
    object-fit: cover;
}